.topnav{
    display:none;
}

.controlButtons{
    display:none;
}


.csl-bib-body{
    /*all:initial;*/
    box-shadow:none;
}    

.csl-entry{
    font-size:1rem;
    line-height:1;
    padding-top:0;
    padding-bottom:1rem;
}



  @media print {
    #topButton {
      display: none;
    }
.__dimensions_badge_embed__{
    display:none;
    }
  }
